
@{
    ViewData["Title"] = "Yasak";
}

<h1>Erişim engellendi</h1>
<p>Üzgünüm @User.Identity.Name, bu sayfayı görmeye yetkin yok. Bunun haksızlık olduğunu düşünüyorsan yoneticiye mail falan atabilirsin.... </p>

